*{
	
}
body {
	margin: 0;
	padding: 0;
        /*background-image: url("../original-img/olimpo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;*/
	background-color: #f5f5f5;
	/*background-color: #0a0a0a;	TEMATICA PRETA */
}

.nav-top {
	/*position:fixed;
	top:0;  POSICAO DA NAVTOP FIXA*/
    display: flex;
    height: 80px;
	box-shadow: 0px 1px 3px 0px #888888;
	/*box-shadow: 0px 1px 3px 0px #777777; TEMATICA PRETA */
	background-color: #ffffff;
	/*background-color: #000000; TEMATICA PRETA */
	
}

.nav-left{
	display: flex;
	width:13vw;
    justify-content: flex-start;
    align-items: center;
	//background-color:pink;
}
.nav-center{
	display: flex;
	width:57vw;
    justify-content: flex-start;
    align-items: center;	
	padding-left: 15px;
	padding-right: 15px;
	//background-color:yellow;
}

.nav-right {
	display: flex;
	width:30vw;
    justify-content: flex-end;
    align-items: center;
	padding-right: 25px;
	//background-color:red;
}

.logo{
	width: 70%;
	height: 60%;
	margin-left:15%;
	margin-right:15%;
	//background-color:purple;
}

.search-bar {
    display: flex;
	width: 500px;
    justify-content: flex-start;
    align-items: center;
	padding: 3px;
	flex-wrap: nowrap;
	//background-color:green;
}

.search-text {
    width: calc(100% - 75px);
    height: 35px;
    border: 2px solid rgba(78, 115, 223, 0.0);
    border-radius: 10px 0 0 10px;
	font-size: 16px;
	background-color: #f5f5f5;
	padding-left:15px;
	padding-right:15px;
}

.search-text:focus {
    outline: none;
    border: 2px solid rgba(78, 115, 223, 0.3);
}

.search-text::placeholder {
	color: #aaa;
}

.search-btn {
	align-items: center;
    width: 45px;
    height: 41px;
    border: none;
    color: #fff;
    background-color: #007bff;
    font-size: 16px;
    cursor: pointer;
    margin-left: -4px;
    border-radius: 0 10px 10px 0;
}

.search-btn:hover {
    background-color: #0069d9;
} 

.fa-search {
    margin-left: -3px;
}

.right-icon {
	margin-left:08px;
	font-size:24px;
	color:black;
	float:left;
	border:none;
	cursor:pointer;
}

.sidenav{	
	position:fixed;
	width:30px;
	height:100vh;
	top:0;
	bottom: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	transition: .75s;
	background-color: transparent;
}

.sidenav-body{
	position:absolute;
	width: calc(100% - 30px);
	top: 0;
	height:100%;
	background-color: #006fe6;
	overflow-x: hidden;
	transition: .75s;
}

.sidenav-btn {
	position: absolute;
    background-color: rgba(0, 123, 255, 0.7);
    width:30px;
	height:80px;
	top: 40%;
	right:0;
	transform: translateY(-50%);
	cursor:pointer;
	border-radius: 0 10px 10px 0;
	border-color:rgba(0, 123, 255, 0.1);
}

.main-content{
	height: calc(100% - 100px);
	width: calc(100vw - 40px);
	margin:35px 20px 20px 20px;
	/*margin-top: 115px; POSICAO DA NAVTOP FIXA */
	/*overflow-x: hidden;
	transition: .75s; MAIN MOVE-SE PARA O LADO */
	//background-color:blue;
}

.test{
	width:70%;
	height:720px;
	//background-color:orange;
	
}

#login{
	background-color: #f5f5f5;
}

.login-form {
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

.form {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	padding: 40px;
}

@import url(https://fonts.cdnfonts.com/css/blacksword);
#login-title {
	font-family: Blacksword, sans-serif;
	text-align: center;
	/*font-family: Arial, sans-serif;*/
	margin-top: 0;
	font-size: 26px;
	margin-bottom: 30px;
}

.input-login {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border: 2px solid rgba(78, 115, 223, 0.0);
	border-radius: 15px;
	background-color: #f5f5f5;
	color: #333;
	font-size:14px;
}

.input-login::placeholder {
	color: #aaa;
}

.input-login:focus {
    outline: none;
    border: 2px solid rgba(78, 115, 223, 0.3);
}

.login-btn {
	background-color: #00c20d;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.login-btn:hover {
	background-color: #00d926;
	box-shadow: 0px 1px 10px 0px #61f26e;
}

.google-login {
	margin-top: 20px;
}

.google-btn {
	background-color: #0040ff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.google-btn:hover {
	background-color: #4000ff;
}

.google-icon {
	display: inline-block;
	background-image: url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.google-text {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.password-container {
	position: relative;
}

.password-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
    right: -10px;
}


.password-toggle::before {
    content: "\f070";
    font-family: FontAwesome;
    color: #999;
    font-weight: 300;
}

.password-toggle-visible::before {
    color: #000000;
	content: "\f06e";
    font-family: FontAwesome;
}
