#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^firstlineproject.com.br [NC]
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


Redirect 302 /redirect.html https://linktr.ee/boutiquedoseletronicos 
# Redirect 302 / https://linktr.ee/boutiquedoseletronicos 

