Redirect 301 /redirect.html https://www.google.com/search?client=ms-android-xiaomi-rev1&sca_esv=18fae8d458e6cfdd&q=googl&uds=AMwkrPtMsdZ6jPhA5S-jYzjfaBw0CNXdYoroLyRIp59c70jdmc3_IhDvV46qFRQIwl_fbW8n0ldcDqmsM7EmKOI7eDcfjDDqinuvKd6XxnpaiVVgD62XuzqSygSLzOM3ya1hU_xutUiTUJDVP-vImyfAmMslfLBQDJmsrlDI6-l0C08nWTUs5izh9798JXQN7onmNo2EkESFTGal49kbv0AZF0bPVALGyqSNHzruxG0j3gt40tkBja3ef649vsvbAvI-2uK_aN1un5cRhaaq5BXClakj2Tf9EbTrs7SVZJKlSta_AWVGbPc&udm=2&prmd=visnbmtz&sa=X&ved=2ahUKEwj36YOtwIqFAxVdELkGHYBUCBsQtKgLegQIERAB&biw=393&bih=719&dpr=2.75#vhid=bmKHarofYZ4ziM&vssid=mosaic

